body {
    font-family: Arial, sans-serif;
    background-color: rgb(199, 199, 199);
}

h1 {
    text-align: center;
}

h2 {
    color: rebeccapurple;
    text-align: center;
}

table {
    border: 2px solid rgb(109, 109, 109);
    width: 650px;
    margin: 0 auto;
}

thead {
    background-color: plum;
}

td {
    border-top: 1px solid darkorchid;
}

.code {
    font-family: monospace;
    background-color: rgb(230, 230, 109);
}